# MySQL connection for Prisma
# Example: mysql://USER:PASSWORD@127.0.0.1:3306/pup_db?connection_limit=5
DATABASE_URL="mysql://root:password@127.0.0.1:3306/pup_db?connection_limit=5"

# API server
PORT=4000

# JWT secret
JWT_SECRET="change-me-please"
